<h1>Nom Nom Burgers!</h1>
<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <button class="btn btn-primary" type="button" >Submit</button>
  </div>
  <input type="text" class="form-control">
</div>