<main class="container-md">
    <section class="jumbotron text-center rounded-pill bg-danger text-light shadow-lg">
        <h1 class="display-4>">Nom Nom Burgers!</h1>
        <hr class="mt-4 mb-1 border-success">
        <hr class="my-1 border-primary">
        <hr class="mb-4 mt-1 border-warning">
        <div class="input-group input-group-lg px-5">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="button">Submit</button>
            </div>
            <input type="text" class="form-control">
        </div>
    </section>
</main>