<main class="container-md">
    <section class="jumbotron text-center rounded-pill">
        <h1 class="display-4>">Nom Nom Burgers!</h1>
        <hr class="my4">
        <div class="input-group input-group-lg px-5">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="button">Submit</button>
            </div>
            <input type="text" class="form-control">
        </div>
    </section>
</main>